/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


// Font Family 
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

// Custom SCSS Variable


$secondary-font: "Rajdhani", sans-serif;


:root {
    --primary-color: #4C7766;
    --secondary-color: #FFBC11;
    --assh-color: #f3f3f3;
}
li {
    list-style: none;
}

// Color Class
.primary-bg-color{
    background-color: var(--primary-color);
}
.primary-color{
    color: var(--primary-color);
}
.secondary-bg-color{
    background-color: var(--secondary-color);
}
.secondary-color{
    color: var(--secondary-color);
}

.assh-bg-color{
    background-color: var(--assh-color);
}

.hover-primary:hover{
    background-color: var(--primary-color) !important;
    color: #fff !important;
    transition: all linear;
}
.color-white{
    color: #fff;
}

// Section Padding
.section-padding{
    padding: 70px 0;
}
.section-padding-top{
    padding-top: 70px;
}

p{
    font-size: 15px;
    color: #5e5d5d;
}

// Border 

.border{
    border: 1px solid #c3c3c37a;
}
.secondary-font{
    font-family: $secondary-font;
}




[class^='text-'] {
    line-height: 1.3;
}
[class^='text-body-'] {
    line-height: 1.4;
}
.zIndex-2{
    z-index: 999;
}



// Swipper Js 
.swiper-button-next{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
        background-color: var(--secondary-color);
    }
    &:hover::after{
        color: #fff;
    }
}
.swiper-button-next::after {
    font-size: 16px;
    color: #787878;
}

.swiper-button-prev{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover{
        background-color: var(--secondary-color);
    }
    &:hover::after{
        color: #fff;
    }
}
.swiper-button-prev::after {
    font-size: 14px;
    color: #787878;
}

.swiper-button-disabled{
    display: none;
}